.editor {
  @include flex;

  &__playGround {
    height: 100%;
    @media (max-width: 992px) {
      display: none;
    }
  }
  &__title {
    font-family: Poppins-Bold;
    text-align: center;
    border: 1px solid $bg-color;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 5rem 0.5rem;
  }

  &__selector {
    @include flex;
    flex-direction: row;
    font-family: Poppins-Bold;
  }

  &__btn {
    background-color: $primary-color;
    color: $bg-color;
  }

  &__iframe {
    font-family: PoiretOne-Regular;
  }
}

.editor .CodeMirror-scroll {
  overflow: hidden !important;
  width: fit-content;
  padding: 0;
}

/* hide the scrollbars */
.editor .CodeMirror-vscrollbar,
.editor .CodeMirror-hscrollbar {
  display: none !important;
}
