<main class="about">
  
  <p class="about__text">
Chatroom is an app for those who want to be part of a community where knowledge can be shared. Once you sign up/in, you can create specialized rooms where you and your team can ask/answer any question about the room topic. Each room comes with its own code editor, where you can write all the HTML, CSS or JavaScript you need it to create examples or challenges.
  </p>

    <div class="about__img-container">
    <%= image_tag('about_page.svg', :class => "about__img", alt: "SVG image") %>
  </div>
</main>
