<main class="landing">

  <div class="landing__img-container">
    <%= image_tag('landing_page.svg', :class => "landing__img") %>
  </div>

  <p class="landing__text">
  A place where we can learn and share knowledge!
  </p>
</main>


