<form class="d-flex">
  <button class="btn btn-light mx-2 p-1" type="submit"><%= link_to 'Sign out', destroy_user_session_path, class: 'btn btn-light p-0', method: :delete %></button>
</form>
<%= javascript_pack_tag 'Index' %>
